/* Индекс, име и презиме */
/* ID_NO, Name and Surname */


/* Loading fonts */
@font-face {
	font-family: 'open_sansregular';
	src: url('../fonts/opensans-regular-webfont.eot');
	src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans-regular-webfont.woff') format('woff'),
	url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
	url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'gorditasregular';
	src: url('../fonts/gorditas-regular-webfont.eot');
	src: url('../fonts/gorditas-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gorditas-regular-webfont.woff') format('woff'),
	url('../fonts/gorditas-regular-webfont.ttf') format('truetype'),
	url('../fonts/gorditas-regular-webfont.svg#gorditasregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sans_semiboldregular';
	src: url('../fonts/opensans-semibold-webfont.eot');
	src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans-semibold-webfont.woff') format('woff'),
	url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
	url('../fonts/opensans-semibold-webfont.svg#open_sans_semiboldregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sans_semibolditalic';
	src: url('../fonts/opensans-semibolditalic-webfont.eot');
	src: url('../fonts/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans-semibolditalic-webfont.woff') format('woff'),
	url('../fonts/opensans-semibolditalic-webfont.ttf') format('truetype'),
	url('../fonts/opensans-semibolditalic-webfont.svg#open_sans_semibolditalic') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* Your code goes here */

body{
	width: 1000px;
	margin: auto;
	background-color: #ecead3;
	background-image: url(bg-body.jpg) repeat;
	
}

#header div:first-child{
	display: flex;
}


#header ul{
	display: flex;
}

#header ul li{
	padding-right: 40px;
	list-style: none;
	margin-left: 50px;
}

#header ul{
	background-color: white;
	padding-top: 30px;
}

#header ul li a{
	text-decoration: none;
}

#body{
	background-color: white;
	margin-top: -20px;
}

.aside h1{
	color: rgb(187, 76, 76)

}

.aside{
	border-top: 1px solid lightgray;
	margin-left: 30px;
	width: 500px;
}

.sidebar{
	margin-left: 600px;
	margin-top: -500px;
	border-top: 1px solid lightgray;
}

.sidebar h2{
	text-indent: -9999px;
	margin-left: -30px;
}

.gallery{
	display:flex;

}

.gallery li{
	padding-left: 30px;
	list-style: none;
}

.gallery{
	background-color: lightblue;
}

#footer ul li{
	
	padding-right: 40px;
	list-style: none;
	margin-left: 50px;
}

#footer ul{
	display: flex;
}

#footer ul li a{
	text-decoration: none;
}

.paging{
	margin-left: 910px;
	margin-top: -110px;
}