body { 
  background: #999 url(bk.jpg) repeat-x fixed;
  margin: 0;
  padding: 0;
  color: #33140E;
  font-family: Georgia, Times, serif;
  font-size: 80%;
}

h1,h2,h3,h4,h5,h6 { 
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans Unicode", Verdana, sans-serif;
  font-weight: normal;
}

h3 { 
  text-transform: uppercase;
  font-size: 90%;
  word-spacing: 2px;
  letter-spacing: 2px;
  margin-left: -10px;
  font-weight: bold;
}

a { 
  color: #5F524F;
}

acronym { 
  font-style: italic;
  cursor: help;
  font-weight: bold;
}

/* Divisions */

#container { 
  width: 750px;
  background: url(paper_mid.gif) repeat-y;
  margin: 50px 0 0 25px;
  padding-bottom: 20px;
}

#Naslov { 
  height: 100px;
  padding: 20px 0 20px 50px;
}

#Naslov h1 { 
  height: 90px;
  width: 340px;
  background: url(logo.gif) no-repeat;
}

#Naslov h2 span,
#Naslov h1 span { 
  display: none;
}

#Naslov h2 { 
  background: url(paper_clip.gif) no-repeat;
  width: 320px;
  height: 262px;
  position: absolute;
  top: 200px;
  left: -6px;
  z-index: 5;
}
#VtorDel,
#PrvDel { 
  margin: 10px 100px 10px 200px;
}

#kratko { 
  position: absolute;
  top: 50px;
  left: 450px;
  background: url(subtext.gif) no-repeat;
  height: 100px;
  width: 280px;
}

#extraDiv1 { 
  position: absolute;
  top: 10px;
  left: 23px;
  width: 750px;
  height: 50px;
  background: url(paper_top.gif) no-repeat;
}

#resursi { 
 
  position: absolute;
  top: 400px;
  left: 10px;
  width: 200px;
  height: 257px;
  background: url(sticky.gif) no-repeat;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
  color: #000;
}

#resursi a { 
  color: #000;
}

#resursi h3 { 
  padding: 40px 10px 0 30px;
}

#resursi ul { 
  font-size: 80%;
}

#resursi li { 
  padding: 5px;
}

#extraDiv2 { 
  position: absolute;
  top: 200px;
  left: 700px;
  background: url(pen.gif) no-repeat;
  width: 140px;
  height: 547px;
}

/* Classes */

.accesskey { 
  font-weight: bold;
  text-decoration: underline;
}